.fab {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #4aa0ff;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;


    transition: transform 0.2s ease-in-out;
}

.plus {
    font-size: 48px;
    line-height: 1;

    transition: opacity 0.2s ease-in-out;
}


.fab:hover {
    transform: scale(1.1);
}

.fab:active {
    transform: scale(0.9);
}

.fab:active .plus {
    opacity: 0.8;
}

.circle-button {
    position: fixed;
    bottom: 150px;
    right: 60px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #ffadd1;
    color: white;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.circle-button:hover {
    background-color: #0056b3;
}

.circle-button:focus {
    outline: none;
}

