/* NavBar.css */
.navbar {
    background-color: #EDEBE1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 160px;
    margin-right: 20px;
    order: 1;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    order: 2;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: black;
    font-size: 1.06rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-links .logout-button {
    background-color: #EDEBE1;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    font: inherit;
}

.navbar-links a:hover, .logout-button:hover {
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.1);
}
